@tailwind base;
@tailwind components;
@tailwind utilities;

.containerLayout {
  @apply mx-auto w-full h-full max-w-4xl;
}

body {
  @apply bg-[url('../public/assets/double-bubble-outline.png')] bg-center bg-fixed;
}

.bgImage {
  @apply bg-[url('../public/assets/double-bubble-outline.png')] bg-center bg-fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(236, 221, 221);
  border-radius: 10px;
  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 107, 107);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b04a4a;
}
